<div>
  <div class="title-tab" >
    <h4 class="ml-3 pt-4"><i class="fa fa-dashboard" aria-hidden="true"></i>  Dashboard</h4>
  </div>
  <div class="jumbotron" style="color:black">
    <h1 class="display-3">Dashboard works!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

  <mat-card>
    <mat-card-title>Contacts</mat-card-title>
    <mat-list>
      <mat-list-item>John Doe (212) 188-5125 35 E 75th St. New York, NY 10021</mat-list-item>
      <mat-list-item>Maria Edwards (212) 877-0205 36 E 75th St. New York, NY 10021</mat-list-item>
      <mat-list-item>Jack Smith (212) 951-5548 37 E 75th St. New York, NY 10021</mat-list-item>
      <mat-list-item>Will Jones (212) 861-1989 38 E 75th St. New York, NY 10021</mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <img src="http://www.gstatic.com/webp/gallery/1.jpg" alt="">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="http://www.gstatic.com/webp/gallery/2.jpg" alt="">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="http://www.gstatic.com/webp/gallery/3.jpg" alt="">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="http://www.gstatic.com/webp/gallery/4.jpg" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
  </mat-card>
  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>
